.userCommits__panel {
  display: inline-block;
  height: 100%;
  width: 75%;
  left: 25%;
  position: fixed;
  overflow: scroll;
  margin: 3% 0;
  background-color: #eee;
}

.userCommits__panel .empty {
  width: 100%;
  height: 100%;
  display: flex;
  color: #aaa;
  justify-content: center;
  align-items: center;
}

.userCommits__panel > h4 {
  width: 100%;
  padding: 2%;
  z-index: 1;
  position: fixed;
  background-color: #eee;
  border-bottom: 1px solid #aaa;
}

.userCommits__panel > h2 {
  width: 100%;
  padding: 2%;
}

.repo_description {
  box-shadow: 5px 5px 8px 5px rgba(200, 200, 200, .5);
}

.repo_description span {
  color: #999;
}

.commit__message,
.commit__author,
.commit__date,
.commit__url {
  vertical-align: middle;
  padding-bottom: 1%;
}

.userCommitsPanelItems__wrapper {
  width: 100%;
  padding-left: 3%;
  margin: 10% 0 20% 0;
}

.userCommitsPanel__item {
  width: 100%;
  padding: 2%;
  height: 200px;
  background-color: white;
  border-bottom: 2px solid #ddd;
}

.userCommitsPanel__item h5 {
  margin: 1%;
}

.commit__message {
  width: 90%;
}

.commit__url {
  width: 5%;
}

.commit__author {
  color: darkgoldenrod;
}

.commit__date {
  color: #aaa;
}

.commit__author,
.commit__date {
  width: 50%;
}



/******************** MEDIA QUERIES **********************/




@media (max-width: 1000px) {
  .userCommitsPanelItems__wrapper {
    margin-top: 15%;
  }

  .userCommits__panel {
    margin-top: 5%;
  }
}

@media (max-width: 700px) {
  .userCommits__panel {
    margin-top: 7%;
  }
  .userCommitsPanelItems__wrapper {
    margin-top: 20%;
  }
}

@media (max-width: 600px) {
  .userCommits__panel {
    margin-top: 9%;
  }
}
