.header__backbutton {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-position: center center; 
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-image: url('../../../../images/common/arrow-back-button.svg');
}

.headerInput__filter {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  border-color: #fff;
  background-image: url('../../../../images/common/funnel.svg');
  background-position: 5px center; 
  background-repeat: no-repeat;
  background-size: 20px 30px;

  &::placeholder {
    color: rgba(255, 255, 255, .7);
  }
}

.filterInput .userSearch__inputWrapper {
  width: auto;
}

.header__username, .header__advancedFilter {
  margin-top: .5%;
}

.header__advancedFilter {
  margin-left: 5%;
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, .5);
  }
}

.header__username,
.header__backbutton {
  margin-right: 5%;
}



/******************** MEDIA QUERIES **********************/



@media (max-width: 700px) {
  .header__username {
    display: none;
  }

  .header__advancedFilter {
    margin-top: 5%;
  }
}