.header__backbutton {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-position: center center; 
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-image: url('../../../../images/common/arrow-back-button.svg');
}

.headerInput__filter {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  border-color: #fff;
  background-image: url('../../../../images/common/funnel.svg');
  background-position: 5px center; 
  background-repeat: no-repeat;
  background-size: 20px 30px;

  &::placeholder {
    color: rgba(255, 255, 255, .7);
  }
}

.filterInput .userSearch__inputWrapper {
  width: auto;
}

.header__username, .header__advancedFilter {
  margin-top: .5%;
}

.header__advancedFilter {
  margin-left: 5%;
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, .5);
  }
}

.header__username,
.header__backbutton {
  margin-right: 5%;
}