.userList__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.userList__content {
  align-self: flex-start;
  width: 100%;
  height: 100%;
  position: fixed;
}

.userList__item {
  box-shadow: -1px 1px 3px 1px #dddddd;
  min-height: 150px;
  width: 70%;
  padding: 2%;
  margin: 1%;
}

.userList__body {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (max-width: 900px) {
    margin-top: 15%;
  }
  @media (max-width: 600px) {
    margin-top: 35%;
  }
}

.userListItem__picture {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: inline-block;
}

.userListItem__info {
  display: inline-block;
  margin-left: 5%;
  @media (max-width: 600px) {
    display: block;
  }
}

.userListItem__username {
  font-size: 150%;
}

.userListItem__issue a {
  color: purple;
  font-size: 80%;
  font-weight: bold;
}

.userListItem__scores .value {
  color: #aaaaaa;
}

.userListItem__scores .text {
  font-weight: bold;
}
