.header_filter-advanced {
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 2;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3); }
  .header_filter-advanced form {
    width: 50%;
    background-color: white;
    border-radius: 5px; }
    .header_filter-advanced form input {
      padding-left: 12px; }
    .header_filter-advanced form label {
      display: block;
      font-weight: bold;
      margin: 5% 0; }
    @media (max-width: 1000px) {
      .header_filter-advanced form {
        width: 70%; } }
    @media (max-width: 700px) {
      .header_filter-advanced form {
        width: 100%; } }
  .header_filter-advanced .title {
    border-bottom: 1px solid #cccccc;
    padding: 1%;
    background-color: #eeeeee;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px 5px 0 0; }
    .header_filter-advanced .title .close {
      font-size: 200%;
      margin-right: 3%;
      cursor: pointer;
      color: #aaaaaa; }
  .header_filter-advanced .content {
    padding: 5%; }
    .header_filter-advanced .content .item {
      margin-bottom: 5%; }
    .header_filter-advanced .content .input {
      width: 50%; }
    .header_filter-advanced .content .radio_wrapper {
      display: flex;
      flex-direction: row;
      margin-bottom: 1%; }
      .header_filter-advanced .content .radio_wrapper label {
        width: 95%; }
      .header_filter-advanced .content .radio_wrapper input {
        width: 5%; }
    .header_filter-advanced .content .select_wrapper {
      display: flex;
      flex-direction: row;
      margin-bottom: 1%;
      width: 50%; }
      .header_filter-advanced .content .select_wrapper label {
        width: 50%;
        margin: 0; }
      .header_filter-advanced .content .select_wrapper select {
        height: 70%;
        width: 30%; }
  .header_filter-advanced .footer {
    border-top: 1px solid #cccccc;
    padding: 1%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .header_filter-advanced .footer .close {
      background-color: #ccc;
      border-color: #ccc;
      margin-right: 3%; }
